/* 1) შექმენით ვებსაიტი, რომელზეც დაამატებთ 1 ფოტოს, 2 პარაგრაფს და 2 ღილაკს. ფოტოს გაუწერეთ სწორხაზოვანი 2px ლურჯი ფერის
ბორდერი. პირველ პარაგრაფს - ორმაგი წითელი ფერის 1px ბორდერი, ხოლო მეორე პარაგრაფს წერტილოვანი 3px მწვანე ბორდერი
გაუწერეთ. ორივე ღილაკს იისფერი 1px წყვეტილ-ხაზოვანი ბორდერი ჰქონდეს. */

img {
    border: 2px rgb(8, 29, 120) solid;
    width: 300px;
}

.first_p {
    border: 1px rgb(154, 8, 8) double;
    padding: 10px;
}

.second_p {
    border: 3px dotted rgb(5, 99, 5);
    padding: 10px;
}

button {
    border: 1px dashed rgb(95, 12, 126);
    margin: 5px;
}